<html>
  <head>
    <title>Paybox checkout</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  <body>
    <div style="display: none;">
      <form id="payboxForm" method="POST" action="https://preprod-tpeweb.paybox.com/cgi/MYchoix_pagepaiement.cgi" enctype="application/x-www-form-urlencoded">
        <%= paybox_hidden_fields(:site => SpreePayboxSystemGateway::Config[:site_id],
          :rang => SpreePayboxSystemGateway::Config[:rang],
          :identifiant => SpreePayboxSystemGateway::Config[:paybox_id],
          :paybox => SpreePayboxSystemGateway::Config[:paybox_url],
          :backup1 => SpreePayboxSystemGateway::Config[:paybox_url],
          :backup2 => SpreePayboxSystemGateway::Config[:paybox_url],
          :"3ds" => 'N',
          :total => (@order.total * 100).to_i.to_s,
          :devise => 978,
          :cmd => @order.number,
          :porteur => @order.email,
          :typepaiement => "CARTE",
          :typecarte => "CB",
          :retour => "amount:M;ref:R;auto:A;error:E;signature:K",
          :effectue => paybox_ipn_url,
          :refuse => paybox_ipn_url,
          :annule => checkout_url,
          :repondre_a => paybox_ipn_url) %>
        <input class="button primary" type="submit" value="Continuer" name="commit"></input>
      </form>

    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        $('form#payboxForm').submit();
      });
    </script>
  </body>
</html>
